if ("#{@line_item.cart.line_items.count}" == "0") { $('#cart').hide('blind', 1000); }
$('#cart').html("#{j render partial: 'carts/cart', object: @line_item.cart}");
$('#current_item').css({'background-color':'#EE7015'}).animate({'background-color':'#114411'}, 1000);


